<div class="m-5">
    <a class="mb-5 block w-full p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
        <div class="">
            <p class="mb-2 mr-6 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Dettaigli gruppo di firma</p>
            <div class="flex">
                <div class="mr-5">
                    <label 
                        for="group_name" 
                        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nome gruppo</label>
                    <input 
                        type="text"
                        id="group_name" 
                        class=" w-96 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        value="{{groupName}}"
                    >
                </div>
                <div class="mr-5">
                    <label 
                        for="min_value" 
                        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Soglia minima servizi</label>
                    <input 
                        type="text"
                        id="min_value" 
                        value="{{minValue | currency}}"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block  p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" 
                    >
                </div>
                <div class="mr-5">
                    <label 
                        for="max_value" 
                        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Soglia massima servizi</label>
                    <input 
                        type="text"
                        value="{{maxValue | currency}}"
                        id="max_value" 
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block  p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" 
                    >
                </div>
            </div>
        </div>
    </a>
</div>
<div class="flex w-auto">
    <div class="m-5 flex-grow">
        <a class="mb-5 block w-full p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
            <div class="">
                <p class="mb-2 mr-6 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Abilita servizi per gruppo di firma</p>
            </div>
            <p>Seleziona i servizi e imposta la relativa soglia</p>
            <table class="mt-5 w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                    <tr>
                        <th scope="col" class="px-6 py-3">
                            Servizio
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Soglia minima
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Soglia massima
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let func of funcs"
                        class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                        <td scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">{{func.function_name}}</td>
                        <ng-container *ngIf="isFuncInFunctions(func)">
                            <td class="px-6 py-4">{{getFunctionMinValue(func, "min")}}</td>
                            <td class="px-6 py-4">{{getFunctionMinValue(func, "max")}}</td>
                        </ng-container>
                    </tr>
                </tbody>
            </table>
        </a>
    </div>
    <div class="m-5 flex-grow">
        <a class="mb-5 block w-full p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
            <div class="">
                <p class="mb-2 mr-6 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Seleziona utenti da aggiungere al gruppo</p>
            </div>
        </a>
    </div>
</div>