<div class="m-5">
    <a class="mb-5 block w-full p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100">
        <div class="">
            <p class="mb-2 mr-6 text-2xl font-bold tracking-tight text-gray-900">Dettaigli gruppo di firma</p>
            <div class="flex">
                <div class="mr-5">
                    <label 
                        for="group_name" 
                        class="block mb-2 text-sm font-medium text-gray-900">Nome gruppo</label>
                    <input 
                        [(ngModel)]="groupName"
                        type="text"
                        id="group_name" 
                        class="w-96 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5"
                    />
                    {{groupName}}
                </div>
                <div class="mr-5">
                    <label 
                        for="min_value" 
                        class="block mb-2 text-sm font-medium text-gray-900">Soglia minima servizi</label>
                    <input 
                        type="text"
                        id="min_value" 
                        value="{{minValue | currency}}"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5" 
                    >
                </div>
                <div class="mr-5">
                    <label 
                        for="max_value" 
                        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Soglia massima servizi</label>
                    <input 
                        type="text"
                        value="{{maxValue | currency}}"
                        id="max_value" 
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block  p-2.5" 
                    >
                </div>
                <span
                    *ngFor="let user of currUsers"
                    [textContent]="user.userInitials" 
                    class="ml-3 h-9 w-9 bg-gray-200 text-blue-500 font-bold text-xl rounded-full flex items-center justify-center">
                </span>
            </div>
        </div>
    </a>
</div>
<div class="flex w-auto">
    <div class="m-5 w-auto">
        <a class="mb-5 block w-full p-6 bg-white border border-gray-200 rounded-lg shadow">
            <div class="">
                <p class="mb-2 mr-6 text-2xl font-bold tracking-tight text-gray-900">Abilita servizi per gruppo di firma</p>
            </div>
            <p>Seleziona i servizi e imposta la relativa soglia</p>
            <table class="mt-5 text-sm text-left rtl:text-right text-gray-500">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50">
                    <tr>
                        <th scope="col" class="px-3 py-1.5">
                            Servizio
                        </th>
                        <th scope="col" class="px-3 py-1.5">
                            Soglia minima
                        </th>
                        <th scope="col" class="px-3 py-1.5">
                            Soglia massima
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let func of funcs"
                        class="bg-white border-b">
                        <app-table-data
                            [funcName]="func.function_name"
                            [wasIncluded]="isFuncInFunctions(func)"
                            [minValue]="getFunctionMinValue(func, 'min')"
                            [maxValue]="getFunctionMinValue(func, 'max')"
                            ></app-table-data>
                    </tr>
                </tbody>
            </table>
        </a>
    </div>
    <div class="m-5 w-auto">
        <a class="mb-5 block w-full p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100">
            <div class="">
                <p class="mb-2 mr-6 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Seleziona utenti da aggiungere al gruppo</p>
            </div>
            <p>Sono disponibili solo gli utenti dispositivi</p>
            <input 
                type="text"
                id="group_name" 
                class="mt-5 w-80 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5"
                placeholder="Filtra..."
            >
            <div 
                class="mt-5"
                *ngFor="let user of currUsers">
                <div class="flex items-center mb-4">
                    <input 
                        id="default-checkbox-{{user.userId}}"
                        type="checkbox"
                        checked="true"
                        value=""
                        class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                    <span
                        [innerText]="user.userInitials"
                        class="ml-3 h-9 w-9 bg-gray-200 text-blue-500 font-bold text-xl rounded-full flex items-center justify-center">
                    </span>
                    <label 
                        for="default-checkbox-{{user.userId}}" 
                        class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">{{user.fullName}}</label>
                </div>
            </div>
        </a>
        <div class="flex justify-end">
            <button 
              type="button" 
              class="mb-2 mr-5 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center"
              (click)="createGroup()">
              Add Group
            </button>
          </div>
    </div>
</div>